@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

/* === Globe === */

body {
    font-family: Rubik;
    background-color: #2a2c33;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

li {
    line-height: 2em;
}


/* === Navbar === */

nav {
    display: flex;
    position: fixed;
    top: 0;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #2a2c33;
    z-index: 99;
    transition: all .3s ease-out;
}

nav.top {
    height: 80px;
}

nav img {
    width: 50px;
    height: 50px;
}

nav .links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav a {
    font-weight: bold;
    color: white;
    transition: color .2s ease-out;
    margin: 20px
}

nav a:hover {
    color: #149dcc;
}


/* === Section === */

.wrapper {
    width: 100vw;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding-top: 40px;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: white;
    overflow-x: hidden;
}

.jumbo-text h1 {
    font-size: 5em;
    background: -webkit-linear-gradient(45deg, rgba(16, 99, 177, 1) 0%, rgba(0, 234, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jumbo-text .subtitle {
    font-size: 2em;
}

.footer {
    min-height: 10vh;
    background-color: #2a2c33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5vh 10vw;
    overflow-y: hidden;
}

.footer .credits {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.footer .credits i {
    margin: 0 1vw;
    background: -webkit-linear-gradient(45deg, rgba(16, 99, 177, 1) 0%, rgba(0, 234, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s ease-out;
}

.footer .credits i:hover {
    transform: translateY(-5px);
    opacity: 0.6;
}

.footer .copyright {
    display: block;
    text-align: center;
    color: whitesmoke;
}


/* === Chunky Divs === */

.block {
    display: block;
    margin: 30px 0;
}

.block>a {
    margin: 0 5px;
}

split {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

split img {
    max-width: 100vw;
    max-height: 70vh;
    -webkit-user-drag: none;
}

split .one.img,
split .two.img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

split .one,
split .two {
    width: 35vw;
    margin: 5vw;
}

.btn {
    display: inline-block;
    background: #149dcc;
    padding: 1.2em 3em;
    color: white;
    border-radius: 10px 10px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(.54, 0, .26, 1.82);
    box-shadow: 0 3px 5px lightslategray;
    margin-bottom: 10px !important;
}

.btn.alt {
    background: gray;
}

.btn:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px lightslategray;
    background: white;
    color: black;
}


/* Releases */

releases h2,
releases-all h2 {
    color: #444755;
}

releases h3,
releases-all h3 {
    color: #149dcc;
}


/* === Custom === */

#home {
    overflow-y: hidden;
    padding-top: 80px;
    height: 100vh;
}

#download {
    overflow-y: hidden;
    background-color: aliceblue;
}

#download split {
    align-items: initial;
}

#download .one {
    height: 70vh;
    overflow: auto;
}

#download .jumbo-text h1 {
    font-size: 3.9em;
}

#history {
    overflow: hidden;
}

#history split {
    align-items: start;
}

.sticky {
    position: sticky;
    top: 0;
}

@media all and (max-width: 1100px) {
    split {
        flex-direction: column;
    }
    split.inv {
        flex-direction: column-reverse;
    }
    split .one,
    split .two {
        width: 80vw;
        margin: 0;
    }
    split .jumbo-text {
        text-align: center;
    }
    #download .one {
        height: inherit;
    }
    #download {
        overflow-y: hidden;
        height: auto;
        min-height: calc(100vh - 160px);
    }
}

@media all and (max-width: 420px) {
    nav a {
        margin: 1vw;
    }
}

@media all and (max-width: 355px) {
    section {
        font-size: 70%;
    }
}

@media all and (max-width: 280px) {
    copyright {
        font-size: 5vw;
    }
    nav .links a:nth-child(0) {
        display: none;
    }
}